.table-view{
    -fx-background-color: white;
    -fx-border-color: #bc13fe;
}

.table-view:focused{
    -fx-background-color: white;
}

.table-row-cell{
-fx-border-color: white;
-fx-table-cell-border-color: white;}

.table-view .column-header-background .label{
    -fx-background-color: white;
    -fx-text-fill: #bc13fe;
    -fx-font-family: "Segoe UI Light";
}

.table-view .column-header {
    -fx-background-color: white;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-background-color: #FDBA21;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}

.combo-box-base {
    -fx-background-color: white;
    -fx-border-color: #bc13fe;
    -fx-text-fill: #bc13fe;

}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: black}

.button {
    -fx-background-color: white;
    -fx-border-color: #bc13fe;
    -fx-text-fill: #bc13fe;
}