.root {
    -fx-background-image: url("../resources/loginscreen.jpg");
    -fx-background-repeat: stretch;
        -fx-background-size: 875 565;
}
.borderpane {
    -fx-background-color: transparent;
}
.hbox {
    -fx-background-color: transparent;
}.table-view{
    -fx-background-color: transparent;
    -fx-border-color: white;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-row-cell{
-fx-border-color: transparent;
-fx-table-cell-border-color: transparent;}

.table-view .column-header-background .label{
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI Light";
}

.table-view .column-header {
    -fx-background-color: white;
}

.table-row-cell{
    -fx-background-color: transparent;
}

.table-row-cell:selected {
    -fx-border-color: white;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.combo-box-base {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;

}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: orange}

.button {
    -fx-background-color: transparent;
        -fx-border-color: white;
        -fx-text-fill: white;
}
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}
.label {
    -fx-text-fill: white;
}
